@import "variables";

body, html {
  background: #E8E9F3;
  height: 100vh;
}

body {
  font-family: 'Open Sans', serif;
}

// Import bulma styles
@import "~bulma";

// Import buefy styles
@import "~buefy/src/scss/buefy";
